@import "tailwindcss";

@font-face {
    font-family: 'Micro5';
    src: url('/fonts/micro.5.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme{
    --color-hero-bg: #E3EDE8;
    --font-family-micro: 'Micro5', monospace;
}