---
import Camera from '../Camera.astro';

---

<section class="h-screen bg-hero-bg ">
  <div class="mx-auto container grid grid-cols-12">
    <div class="col-span-6 col-start-4">
        <img 
            src="../../public/images/herotitle.png" 
            alt="Capellos Logo" 
            class="mt-16 object-contain"
        />
    </div>
    <div class="col-span-10 col-start-2">
        <Camera />
    </div>
  </div>
</section>
