---

---

<section class="container mx-auto">
    <div class="flex flex-col h-screen items-center justify-center">
        <h1 class="text-4xl font-family-rock-salt font-bold">Hier wordt hard gewerkt...</h1>
        <p class="text-lg pt-2">Kom terug later voor meer informatie.</p>
    </div>
</section>